<div class="rooms__wrapper"
    *ngIf="rooms; else loading">
    <div class="rooms__header card">
        <app-search matTooltip="Поиск комнаты" class="rooms__search"  (onChange)="searchRoom($event)"></app-search>
        <button mat-icon-button matTooltip="Создать комнату" (click)="createRoom()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngFor="let room of searchedRooms; let index = index">
        <div class="rooms__item card" (click)="enterTheRoom(room.id)" >
            <div class="rooms__title">{{room.name}}</div>
            <div class="rooms__description" *ngIf="room.lastPost">{{((room | roomLastPost) | async)?.title}}</div>
            <div class="rooms__description" *ngIf="!room.lastPost">Посты отсутствуют</div>
        </div>
    </div>
    <div *ngIf="searchedRooms.length == 0" class="banner">Комнат нет</div>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
