@use '~src/scss/shared' as *;

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .wrapper{
        width: 100%;
        height: 100%;

        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        min-width: 260px;
        &__footer{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__logo{
            max-width: 100px;
            max-height: 100px;
            align-self: center;
        }
        &__input{

        }
        &__input-title{
            padding: 0 10px;
        }
        &__link{
            color: $infoColor;
            margin-left: 10px;
            cursor: pointer;
        }
        &__submit{

        }
    }
}
