<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="form">
        <label for="postTitle">Заголовок:
            <mat-error *ngIf="f['body'].hasError('required')">
                <strong>обязательно к заполнению</strong>
            </mat-error>
        </label>
        <input matInput
                  id="postTitle"
                  formControlName="title"
                  class="input-text"
                  type="text"
                  autocomplete="off"
        >

        <label for="postBody">Текст:
            <mat-error *ngIf="f['body'].hasError('required')">
                <strong>обязательно к заполнению</strong>
            </mat-error>
        </label>
        <textarea matInput
               id="postBody"
               formControlName="body"
               class="input-text textarea"
               autocomplete="off"
        ></textarea>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial mat-dialog-close>Отмена</button>
    <button mat-button  [disabled]="form.invalid || !form.touched" (click)="onSubmit()">Опубликовать</button>
</mat-dialog-actions>

