@use 'src/scss/shared/colorStyle' as *;

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    &__input {
        width: 100%;
        background-color: $backgroundColor;
        padding: 0.2rem;
        color: $fontColor;
    }
}
