@use '../../../../../scss/shared/colorStyle' as *;
@use '~src/scss/settings' as *;
h2{padding: 0}


:host{
    min-width: 0;
    min-height: 0;

    overflow: hidden;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    user-select: none;

    swiper{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        .swiper-wrapper{
            overflow: visible;
        }

        .timetable{

            &__card {
                height: calc(100% - 20px);
                padding: 20px 0;
            }
            &__title {
                padding: 0 35px 10px 35px;
                font-size: 26px;
                font-weight: bold;
            }
            &__item-list{
                height: calc(100% - 40px);
                padding: 0 10px;
            }
            &__item{
                background: #555555;
                border-radius: 15px;
                padding: 1.3rem;
                font-size: 1.1rem;
                text-align: justify;
                width: 100%;
            }
            overflow: hidden;
        }
    }
}
