<h2 mat-dialog-title>Изменение пароля</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="form">
        <div class="item">
            <label for="password">Пароль:
                <mat-error
                    *ngIf="f['password'].hasError('minlength')
                && !f['password'].hasError('required')"
                >
                    минимальная длинна - <strong>6 символов</strong>
                </mat-error>
            </label>
            <input class="input-text" type="password" id="password" formControlName="password"
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['password'].errors }"
            minlength="6">
        </div>

        <div class="item">
            <label for="repeatPassword">Повторите пароль:
                <mat-error
                    *ngIf="submitted && f['repeatPassword'].errors"
                >
                   Пароли должны совпадать
                </mat-error>
            </label>
            <input class="input-text" type="password" id="repeatPassword" formControlName="repeatPassword"
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['repeatPassword'].errors }" >
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Отмена</button>
    <button mat-button (click)="onSubmit()" [disabled]="form.invalid || !form.touched" (click)="onSubmit()">Изменить</button>
</mat-dialog-actions>
