<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="form">
        <label for="calendarName">Название:
            <mat-error *ngIf="f['title'].hasError('required') && f['title'].touched">
                <strong>обязательно к заполнению</strong>
            </mat-error>
            <mat-error
                *ngIf="f['title'].hasError('minlength')
                && !f['title'].hasError('required')"
            >
               минимальная длинна - <strong>2 символа</strong>
            </mat-error>
        </label>
        <input matInput
               id="calendarName"
               formControlName="title"
               class="input-text"
               type="text"
               autocomplete="off"
               minlength="2"
               maxlength="40"
        >

<!--        <mat-form-field>-->
<!--            <input matInput type="datetime-local" placeholder="start date">-->
<!--        </mat-form-field>-->

        <label for="calendarId">Календарь:
            <mat-error
                *ngIf="f['calendarId'].hasError('required')"
            >
                <strong>обязательно к заполнению</strong>
            </mat-error>
        </label>
        <select
            id='calendarId'
            formControlName="calendarId"
            class="input-text"
        >
            <option *ngFor="let calendar of calendars" [value]="calendar.id">{{calendar.name}}</option>
        </select>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial mat-dialog-close>Отмена</button>
    <button mat-button [disabled]="form.invalid || !form.touched" (click)="onSubmit()">{{data.event ? 'Сохранить' : 'Создать'}}</button>
</mat-dialog-actions>

