@use '../../../scss/settings/colorStyle' as *;

.navbar {
    width: 100%;
    height: 50px;
    background-color: $backgroundColor;

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
}
