//background color
$backgroundColor: #333;

$accentColor: rgb(161, 238, 255);
$resizebarColor:#333;

//interface color
$contentColor: #555;
$outline: #7D7D7D;
$scrollbarColor: #333;
$borderColor: #333;
$sidebarColor:#74c5ffaf;

$fontColor:#fff;

//alert colors
$successColor: #a4f36f;
$dangerColor: #f36f6f;
$infoColor: #6ff3f3;
$warningColor: #f3d96f;

//btn color
$secondaryColor: #333;
$accentShadow: #ffffff;
