@use "~src/assets/fonts/Gilroy/stylesheet.scss" as *;
@use "scss/settings" as *;
@use "scss/shared" as *;
@use "scss/forms" as *;

body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    font-size: 16px;
    color: $fontColor;
    background-color: $backgroundColor;
    //background-image: url("assets/img/logo-w-lg.png");
    //background-size: 50px;
}

.card{
    padding: 20px;
    background-color: $backgroundColor;
    border-radius: 10px;
    border: 2px solid $borderColor;
    box-shadow: 1px 1px 5px #000000;
}


