//<ШРИФТЫ>=================================================================================
@use "~src/assets/fonts/Gilroy/stylesheet.scss";
//<ПОДКЛЮЧАЕМЫЕ ШРИФТЫ>====================================================================
//<ОБНУЛЕНИЕ СТИЛЕЙ>=======================================================================
@use "scss/settings/nullableStyle";
//</ОБНУЛЕНИЕ СТИЛЕЙ>======================================================================

//<COLORS>=================================================================================
@use 'scss/settings/colorStyle' as *;
//</COLORS>================================================================================

//<Шрифт по умолчанию>=====================================================================
$fontFamily:"Gilroy";
$fontcolor:#fff;
//</Шрифт по умолчанию>====================================================================

//<СТИЛИ ДОКУМЕНТА>========================================================================

body,html{margin: 0;padding: 0;font-family: $fontFamily;font-size: 16px; color: $fontcolor;background-color: #333; height: 100%}

//</СТИЛИ ДОКУМЕНТА>=======================================================================

//<ПОДКЛЮЧАЕМЫЕ СТИЛИ>=====================================================================
@import 'scss/settings/swiperStyle';
//</ПОДКЛЮЧАЕМЫЕ СТИЛИ>====================================================================

.card{
    padding: 20px;
    background-color: $backgroundColor;
    border-radius: 10px;
    border: 2px solid $borderColor;
    box-shadow: 1px 1px 5px #000000;
}
