<app-loading *ngIf="loading; else regForm"></app-loading>
<ng-template #regForm>
    <div class="wrapper">
        <form  class="reg card" [formGroup]="form" (ngSubmit)="onSubmit()">
            <img class="reg__logo" src="/assets/img/logo-w-lg.png" alt="Logo">

            <h3 class="reg__input-title">Логин:</h3>
            <input class="reg__input input-text" type='text' formControlName="name"
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['name'].errors }" >

            <h3 class="reg__input-title">Адрес электронной почты:</h3>
            <input class="reg__input input-text" type='email' formControlName="email" email
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['email'].errors }" >

            <h3 class="reg__input-title">Пароль:</h3>
            <input class="reg__input input-text" type="password" formControlName="pass"
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['pass'].errors }" >

            <h3 class="reg__input-title">Повторите пароль:</h3>
            <input class="reg__input input-text" type="password" formControlName="repeatPass"
                   [ngClass]="{ 'input-text_is-invalid': submitted && f['repeatPass'].errors }" >

            <div class="reg__footer">
                <input class="reg__submit input-button" type="submit" value="Зарегистрироваться">
                <a class="reg__link" routerLink="/account/login">Уже есть аккаунт</a>
            </div>

        </form>
    </div>
</ng-template>

